<p> Esse token é necessario para a troca da sua senha Token: {{token}} </p>
<p> Ele tem validade de 1 hora</p>
<p> Use este link para poder redefinir sua senha: <a href="http://localhost:8085/senha">Clique aqui</a></p>