<head>
    <link rel="stylesheet" href="/public/css/conta.css" type="text/css">
</head>
<body>
    <form action="/auth/login">
    <div class="container">
        <div class="card">
            <h1>Esqueceu a senha</h1>
            
            <div class="label-float">
                <input type="email" name="username" required>
                <label for="email">E-MAIL</label>
            </div>
            

            <div class="justify-center">
                <button type="submit">Enviar</button>
            </div>
    </form>
            <p><a href="/senha">Nova senha </a></p>
        </div>
    </div>
</body>