<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/card.css">
</head>
<body>
    <section>
        <header>
            <a href="/"><img src="/public/img/Logo---Vida-Saudável-e-CIA.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/planos"class="active">Planos</a></li>
                <li><a href="/feedback">FeedBack</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/login" class="act">Entrar</a></li>
            </ul>
        </header>
        
        <div class="container">
        
        <div class="informacao">
        <h1 id="titulo">Escolha o plano ideal para o seu dia a dia!</h1>
        <br>
        <img class="cartaz"src="/public/img/banner.png" alt="cartaz">
        </div>


        <div class="planos">
        <div class="card">
            <img src="/public/img/frutas VSCia (9).jpeg" alt="plano1" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Basico</strong></h2>
              <p>100 Kits</p>
            </div>
          </div>

          <div class="card">
            <img src="/public/img/frutas VSCia (6).jpeg" alt="plano2" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Premiun</strong></h2>
              <p>150 Kits</p>
            </div>
          </div> 

          <div class="card">
            <img src="/public/img/frutas VSCia (8).jpeg" alt="plano3" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Personalizado</strong></h2>
              <p>Acima de 150 Kits</p>
            </div>
          </div>
        </div>      
    </div> 
    </section>
     <footer>Projeto feito pelos alunos do 2° Semestre de ADS da Fecap - Vida Saudável & CIA 
           <div class="logos">
           <a href="" > <img src="/public/img/whats.png" alt="lwhats">   </a>
           <a href="" > <img src="/public/img/instagram.png" alt="linsta"> </a>
            </div>
    </footer>
        <script src="/public/js/script.js"></script>

</body>