<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/media.css">
</head>
<body>
    <section >
        <header>
            <a href="/"><img src="/public/img/Logo---Vida-Saudável-e-CIA.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/planos">Planos</a></li>
                <li><a href="/feedback">FeedBack</a></li>
                <li><a href="/faq" class="active">FAQ</a></li>
                <li><a href="/login" class="act">Entrar</a></li>
            </ul>
        </header>

        <article>
            <h2>FAQ</h2>

        <div class="faq">
            <div class="question">
                <h3>Como os kits são preparados?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3"/>
                </svg>
            </div>
            <div class="answer">
                <p class="resposta">
                    Nossas frutas são higienizadas e picadas um dia antes da entrega.Selecionamos todas as frutas e 
                    cuidamos para que tudo seja feito com o maior carinho para que você possa receber um produto de qualidade.
                </p >
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h3>Eu posso escolher as frutas do meu kit?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" />
                </svg>
            </div>
            <div class="answer">
                <p class="resposta">
                 Será disponibilizado um catálogo com as frutas que são produzidas durante o ano todo e as frutas específicas de cada época. 
                 Você poderá montar o seu kit de acordo com esse catálogo.
                </p >
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>Como funciona a entrega?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3"/>
                </svg>
            </div>
            <div class="answer">
                <p class="resposta">
                    As entregas serão realizadas em dias úteis no horário escolhido por nosso cliente.                
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question" id="space">
                <h3 >Quais são as formas de pagamento?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3"/>
                </svg>
            </div>
            <div class="answer">
                <p class="resposta">
                Dinheiro, cartão ou PIX
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question" id="space2">
                <h3>Vocês entregam para todo o Brasil?</h3>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3"/>
                </svg>
            </div>
            <div class="answer">
                <p class="resposta">
                No momento entregamos somente em São Paulo (capital)
                </p >
            </div>
        </div>
    </article>

    </section>
    <footer>Projeto feito pelos alunos do 2° Semestre de ADS da Fecap - Vida Saudável & CIA 
           <div class="logos">
           <a href="" > <img src="/public/img/whats.png" alt="lwhats">   </a>
           <a href="" > <img src="/public/img/instagram.png" alt="linsta"> </a>
            </div>
            </footer>
    <script src="/public/js/script.js"></script>
</body>