<head>
   <link rel="stylesheet" href="/public/css/style.css">
   <link rel="stylesheet" href="/public/css/media.css">
</head>
<body>
    <section >
        <div class="circle"></div>
        <header>
            <a href="/"><img src="/public/img/Logo---Vida-Saudável-e-CIA.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="/"class="active">Home</a></li>
                <li><a href="/planos">Planos</a></li>
                <li><a href="/feedback">FeedBack</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/auth/logout" class="act">Sair</a></li>
            </ul>
        </header>


        <div class="content">
            <div class="textBox">
                <h2> <span>Vida <br>Saudável</span>  <br>& CIA</h2>
                <p id="textBox"> Praticar atividades físicas e ter uma boa noite de sono não é o suficiente para ter uma vida saudável. Para alcançar esse objetivo é necessário realizar escolhas que resultem em uma mente e um corpo saudáveis. E para conquistar isso é importante se alimentar bem. </p>
                    <button href="#">Sobre</button>     
                </div>

                

                <div class="imgBox">
                    <img src="/public/img/pngfruta.png" class="frutas">
                </div>  
            </div>
            <ul class="thumb">
                <li><img src="/public/img/Dot-PNG-Image.png"onclick="imgSlider('/public/img/pngfruta.png');CircleCor('#F0D362');textocor('#F0D362');button('#F0D362');nav('#F0D362');act('#F0D362');footercor('#E0C65C')"></li>
                <li><img src="/public/img/Dot-PNG-Image.png"onclick="imgSlider2('/public/img/sha.png');CircleCor('#F2668B');textocor('#F2668B');button('#F2668B');nav('#F2668B');act('#fd9ab5');footercor('#E089A0')"></li>
                <li><img src="/public/img/Dot-PNG-Image.png"onclick="imgSlider3('/public/img/potes.png');CircleCor('#44803F');textocor('#44803F');button('#44803F');nav('#44803F');act('#44803F');footercor('#44803F')"></li>

    </section>
    <footer>Projeto feito pelos alunos do 2° Semestre de ADS da Fecap - Vida Saudável & CIA 
           <div class="logos">
           <a href="" > <img src="/public/img/whats.png" alt="lwhats">   </a>
           <a href="" > <img src="/public/img/instagram.png" alt="linsta"> </a>
            </div>
            </footer>
    <script src="/public/js/script.js"></script>
</body>
