<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vida Saudavel e CIA </title>
    <link rel="icon" href="/public/img/Logo---Vida-Saudável-e-CIA.png">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/card.css">
</head>
<body>
    <section>
        <header>
            <a href="/"><img src="/public/img/Logo---Vida-Saudável-e-CIA.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/planos"class="active">Planos</a></li>
                <li><a href="/feedback">FeedBack</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/auth/logout" class="act">Sair</a></li>
            </ul>
        </header>
        
        <div class="container">
        
      <div class="informacao">
        <h1 id="titulo">Escolha o plano ideal para o seu dia a dia!</h1>
        <br>
        <div id="cardd">
          <div class="container-1"></div>
          <div class="card-container-1">
            <div class="card-1">
              <div class="card-image-1">
                <img src="/public/img/bb.png" alt="text"/>
              </div >
              
              <div class="card-text-1">
                
                <p>Na Vida Saudável você pode escolher o plano ideal para o seu dia a dia! 
                Contamos com três incríveis planos para atender você, sua família ou sua empresa. 
                Disponibilizamos frutas inteiras e picadas em porções de 110 gr. conforme safra e estações do ano.
                Para realizar um orçamento e conhecer mais sobre nossos planos, basta entrar em contato conosco através do nosso WhatsApp. É gratuito e sem compromisso!
                <br>
                 <a class="whatsapp-link" href="https://web.whatsapp.com/" target="_blank"><img class="iconwhats"src="/public/img/whasticon.png" alt="whats"></a>
              </p>
              </div>
            </div>
          </div>
          </div>
        </div>


        <div class="planos">
        <div class="card">
            <img src="/public/img/frutas VSCia (9).jpeg" alt="plano1" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Basico</strong></h2>
              <p>100 Kits</p>
            </div>
          </div>

          <div class="card">
            <img src="/public/img/frutas VSCia (6).jpeg" alt="plano2" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Premiun</strong></h2>
              <p>150 Kits</p>
            </div>
          </div> 

          <div class="card">
            <img src="/public/img/frutas VSCia (8).jpeg" alt="plano3" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Personalizado</strong></h2>
              <p>Acima de 150 Kits</p>
            </div>
          </div>
        </div>      
    </div> 
    </section>
     <footer>Projeto feito pelos alunos do 2° Semestre de ADS da Fecap - Vida Saudável & CIA 
           <div class="logos">
           <a href="" > <img src="/public/img/whats.png" alt="lwhats">   </a>
           <a href="" > <img src="/public/img/instagram.png" alt="linsta"> </a>
            </div>
    </footer>
        <script src="/public/js/script.js"></script>

</body>