<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vida Saudavel e CIA </title>
    <link rel="icon" href="/public/img/Logo---Vida-Saudável-e-CIA.png">
    <link rel="stylesheet" href="/public/css/style.css">
     <link rel="stylesheet" href="/public/css/sobre.css">
    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/card.css">
     <link rel="stylesheet" href="/public/css/banner.css">
</head>
<body>
    <section>
        <header>
            <a href="/"><img src="/public/img/Logo---Vida-Saudável-e-CIA.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/planos"class="active">Planos</a></li>
                <li><a href="/feedback">FeedBack</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/auth/logout" class="act">Sair</a></li>
            </ul>
        </header>
        
        <div class="container">
        

<div id="cont">	

	<div class="product-details">
		
	<h1>Escolha o plano ideal para o seu dia a dia!</h1>

		
			<p class="information"> Na Vida Saudável você pode escolher o plano ideal para o seu dia a dia! 
                Contamos com três incríveis planos para atender você, sua família ou sua empresa. 
                Disponibilizamos frutas inteiras e picadas em porções de 110 gr. conforme safra e estações do ano.
                Para realizar um orçamento e conhecer mais sobre nossos planos, basta entrar em contato conosco através do nosso WhatsApp. É gratuito e sem compromisso!</p>

<div class="control">
			<button class="bbt">
	 <span class="price">Contato</span>
     <a href="https://wa.me/5511966572565?text=Ol%C3%A1!%20Gostaria%20de%20realizar%20um%20or%C3%A7amento!%20" target="_blank"><span class="buy">Whatsapp</span></a>
 </button>
		

	

	
</div>
			
</div>
	

	
	



</div>

<sec class ="shop" id="shop">
    <div class="heading">

    </div>
    <div class="shop-container">
        <div class="box">
            <div class="box-img">
                <img src="/public/img/mnn.png"alt="">
            </div>
            <h4>Plano Basico</h4>
           <h4>100 Kits</h4>
           <p>O Plano Básico conta com 100 kits de 110g. Você pode escolher porções picadas ou frutas inteiras. Os produtos são selecionados, higienizados e entregues no endereço escolhido na data informada pelo cliente. </p>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/public/img/bff.png" alt="">
            </div>
            <h4>Plano Premiun</h4>
             <h4>150 Kits</h4>
             <p>O Plano Premium conta com 150 kits de 110g. Você pode escolher porções picadas ou frutas inteiras. Os produtos são selecionados, higienizados e entregues no endereço escolhido na data informada pelo cliente. </p>
             
      
        </div> 

        <div class="box">
            <div class="box-img">
                <img src="/public/img/bf.png" alt="">
            </div>
                <h4>Plano Personalizado </h4>
                 
                    <h4>Acima de 150 Kits</h4>
                    <p>O Plano Personalizado é o plano ideal para famílias ou empresas. São mais de 150 kits de 110g e você pode escolher porções picadas ou frutas inteiras. Os produtos são selecionados, higienizados e entregues no endereço escolhido na data informada pelo cliente.</p>
    
        </div>
    </div>
</sec>
    </section>
     <footer>Projeto feito pelos alunos do 2° Semestre de ADS da Fecap - Vida Saudável & CIA 
           <div class="logos">
           <a href="https://wa.me/5511966572565?text=Ol%C3%A1!%20Gostaria%20de%20realizar%20um%20or%C3%A7amento!%20"  target="_blank"> <img src="/public/img/whats.png" alt="lwhats">   </a>
           <a href="https://instagram.com/vidasaudavel.ecia?igshid=YmMyMTA2M2Y="  target="_blank"> <img src="/public/img/instagram.png" alt="linsta"> </a>
           </div>
    </footer>
        <script src="/public/js/script.js"></script>

</body>