<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vida Saudavel e CIA </title>
    <link rel="icon" href="/public/img/Logo---Vida-Saudável-e-CIA.png">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/card.css">
     <link rel="stylesheet" href="/public/css/banner.css">
</head>
<body>
    <section>
        <header>
            <a href="/"><img src="/public/img/Logo---Vida-Saudável-e-CIA.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/planos"class="active">Planos</a></li>
                <li><a href="/feedback">FeedBack</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/login" class="act">Entrar</a></li>
            </ul>
        </header>
        
        <div class="container">
        

<div id="cont">	

	<div class="product-details">
		
	<h1>Escolha o plano ideal para o seu dia a dia!</h1>

		
			<p class="information"> Na Vida Saudável você pode escolher o plano ideal para o seu dia a dia! 
                Contamos com três incríveis planos para atender você, sua família ou sua empresa. 
                Disponibilizamos frutas inteiras e picadas em porções de 110 gr. conforme safra e estações do ano.
                Para realizar um orçamento e conhecer mais sobre nossos planos, basta entrar em contato conosco através do nosso WhatsApp. É gratuito e sem compromisso!</p>

<div class="control">
			<button class="bbt">
	 <span class="price">Contato</span>
     <a href="https://wa.me/5511966572565?text=Ol%C3%A1!%20Gostaria%20de%20realizar%20um%20or%C3%A7amento!%20" target="_blank"><span class="buy">Whatsapp</span></a>
 </button>
		

	

	
</div>
			
</div>
	
<div class="product-image">
	
	<img src="/public/img/frutas VSCia (4).jpeg" alt="">
	

</div>

</div>



        
                

        <div class="planos">
        <div class="card">
            <img src="/public/img/frutas VSCia (9).jpeg" alt="plano1" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Basico</strong></h2>
              <p>100 Kits</p>
            </div>
          </div>

          <div class="card">
            <img src="/public/img/frutas VSCia (6).jpeg" alt="plano2" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Premiun</strong></h2>
              <p>150 Kits</p>
            </div>
          </div> 

          <div class="card">
            <img src="/public/img/frutas VSCia (8).jpeg" alt="plano3" style="width:100%">
            <div class="container-card">
              <h2><strong>Plano Personalizado</strong></h2>
              <p>Acima de 150 Kits</p>
            </div>
          </div>
        </div>
        
    </div> 
    </section>
     <footer>Projeto feito pelos alunos do 2° Semestre de ADS da Fecap - Vida Saudável & CIA 
           <div class="logos">
           <a href="https://wa.me/5511966572565?text=Ol%C3%A1!%20Gostaria%20de%20realizar%20um%20or%C3%A7amento!%20"  target="_blank"> <img src="/public/img/whats.png" alt="lwhats">   </a>
           <a href="https://instagram.com/vidasaudavel.ecia?igshid=YmMyMTA2M2Y="  target="_blank"> <img src="/public/img/instagram.png" alt="linsta"> </a>
            </div>
    </footer>
        <script src="/public/js/script.js"></script>

</body>