<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vida Saudavel e CIA </title>
    <link rel="icon" href="/public/img/Logo---Vida-Saudável-e-CIA.png">
    <link rel="stylesheet" href="/public/css/conta.css" type="text/css">
</head>
<body>
    
    <form action="/auth/new-password" method="post">
    <div class="container">
        <div class="card">
            {{#if message}}
            <div class="erro">
            <strong >{{message}}</strong>
            </div>
            {{/if}}
            <h1>Crie sua nova senha</h1>
            <div class="label-float">
                <input type="text" name="token" required>
                <label for="token">Insira seu Token</label>
            </div>
            <div class="label-float">
                <input type="password" name="newpass" required>
                <label for="nsenha">Nova Senha</label>
            </div>
            <div class="label-float">
                <input type="password" name="password" required>
                <label for="senha">Repita a Nova Senha</label>
            </div>
            
            <div class="justify-center">
                <button type="submit">Salvar nova senha</button>
            </div>
    </form>
            
        </div>
    </div>
</body>
